{
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "globals": {
        "require": true
    },
    "rules": {
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "default-case": 2,
        "indent": [2, "space", {"indentSwitchCase": true}],
        "no-catch-shadow": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-inline-comments": 2,
        "no-nested-ternary": 2,
        "no-param-reassign": 2,
        "no-reserved-keys": 2,
        "no-self-compare": 2,
        "no-throw-literal": 2,
        "no-undefined": 2,
        "no-void": 2,
        "quotes": [1, "double"],
        "space-after-keywords": [2, "always"],
        "space-after-blocks": [2, "always"],
        "strict": [2, "never"],
        "wrap-iife": [2, "outside"]
    },
    "plugins": [

    ]
}
